:root {
    --p1: #063C6B;
    --p2: #04549D;
    --p3: #0B928E;
    --p4: #17A97C;
    --p5: #51CA6D;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--p3); color: azure;
}

/* Loading Screen Div */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--p1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.6s ease;
  pointer-events: none; /* Prevents interaction during fade */
}


/* Main Product Div */
.centered-box {
  max-width: 90%;
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(42, 39, 39); color: azure;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.centered-box img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.centered-box p {
  margin-top: 15px;
  font-size: 1rem;
  color: azure;
}

.menu {
  margin: 1rem auto;
  text-align: center;
}
.filters {
  margin: 1rem auto;
  text-align: center;
}
.product {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
label, legend, .poppinsfont {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Optional: change size too */
  color: var(--p3);
}

.techfinity-sales-helper{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* Selector Card */
.selector-card-container, .results-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 600px;
}
.selector-card{
  min-width: 600px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.1);
  outline: var(--p3) solid 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Biometric Card */
.biometric-card{
  max-width: 600px;
  min-width: 600px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.1);
  outline: var(--p3) solid 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Card Hover */
.selector-card:hover, .biometric-card:hover {
  background-color: #d4fcfb;
}