body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(27, 25, 25); color: azure;
}

/* Loading Screen Div */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c2f33;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.6s ease;
  pointer-events: none; /* Prevents interaction during fade */
}


/* Main Product Div */
.centered-box {
  max-width: 90%;
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(42, 39, 39); color: azure;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.centered-box img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.centered-box p {
  margin-top: 15px;
  font-size: 1rem;
  color: azure;
}

.menu {
  margin: 1rem auto;
  text-align: center;
}
.filters, .results {
  margin: 1rem auto;
  text-align: center;
}
.product {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
label {
  margin-right: 1rem;
  }